<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style rel='stylesheet' type='text/css'>
        @font-face {
            font-family: "Siemreap";
            src: url({#asset KhmerOSSiemreapRegular.ttf  @encoding=dataURI});
            format('ttf');
        }

        @font-face {
            font-family: 'KantumruyPro-Regular';
            src: url({{asset "/asset/font/KantumruyPro-Regular.ttf" "dataURI"}});
            format('truetype');
        }

        @font-face {
            font-family: "KhmerOSMuol";
            src: url({#asset KhmerOSMuolLightRegular.ttf  @encoding=dataURI});
            format('ttf');
        }

        @font-face {
            font-family: "Roman";
            src: url({#asset times_new_roman.ttf  @encoding=dataURI});
            format('ttf');
        }

        @font-face {
            font-family: 'limons1l';
            src: url({#asset limons1l.ttf @encoding=dataURI});
            format('ttf');
        }

        @font-face {
            font-family: "Arial" src: url({#asset arial.ttf @encoding=dataURI}) format('ttf');
        }

        .keep-together {
            page-break-inside: avoid;
        }

        .indent-negative-padding {
            padding-left: 0px;
        }

        body {
            font-size: 16px;
            font-family: "Roam", "KantumruyPro-Regular";
        }

        /* FONT */

        .font_muol {
            font-family: "Roman", "KhmerOSMuol";
        }

        .font_siemreap {
            font-family: "Roman", "Siemreap";
        }

        .font_arail {
            font-family: "Arial", "Siemreap";
        }

        .font_kantumruy_pro {
            font-family: "Roam", "KantumruyPro-Regular";
        }

        /* END FONT */

        /* FONT SIZE */

        .font-base {
            font-size: 15px;
        }

        .text-main {
            font-size: 14px;
        }

        .text-sm-base {
            font-size: 12px;
        }

        .text_xs_sm {
            font-size: 13px;
        }

        .text-xs {
            font-size: 7px;
        }

        /* END FONT SIZE */
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="w-full h-full">
    <main class="w-full leading-7 relative">

        <div class="ml-[55px] mr-[36px] text-sm-base">

            {{!-- latter header --}}
            <div class="flex justify-between">
                <div class="font-base">
                    <img class="mx-auto w-[120px]" src="{{asset '../asset/images/POS - Web-04-01.png' 'dataURI'}}" />
                    <!-- Adjusting the image width to 100% of the container -->
                    <p class="font_kantumruy_pro pt-2 font-base text-[#264497] font-semibold">ប្រព័ន្ធគ្រប់គ្រងការលក់</p>
                </div>

                <div class="text-sm-base">
                    <p class="text-center leading-7 font_muol text-[#264497]">ព្រះរាជាណាចក្រកម្ពុជា</p>
                    <p class="text-center leading-7 font_muol text-[#264497]">ជាតិ សាសនា​​ ព្រះមហាក្សត្រ</p>
                </div>
            </div>

            <p class="font_kantumruy_pro text-center font-base text-[#264497] font-semibold">របាយការណ៏ការលក់រាយ</p>
            <p class="font_kantumruy_pro text-center -mt-1 text-gray-500 text-xs mt-2​">បោះពុម្ព៖ {{formatDate currentDate}} ម៉ោង​ {{currentTime}}</p>

            <div class="flex justify-between mb-1 mr-1">
                <div class="">
                    <span class="font-semibold">កាលបរិច្ឆេទ:</span>
                    <span> {{ formatDate startDate}} ដល់​ {{ formatDate endDate}} </span>
                </div>
                <div class="">
                    <span class="font-semibold">អ្នកគិតប្រាក់:</span>
                    <span> {{name}}</span>
                </div>
            </div>

            <table class="border border-gray">
                <thead class="border border-gray text-main">
                    <tr class="bg-[#264497]">
                        <th class="border border-gray px-2 text-nowrap text-white">ល.រ</th>
                        <th class="border border-gray px-[41px] text-nowrap text-white">លេខវិក្កយបត្រ</th>
                        <th class="border border-gray px-[41px] text-nowrap text-white">សរុប</th>
                        <th class="border border-gray px-[41px] text-nowrap text-white">កាលបរិច្ឆេទ</th>
                        <th class="border border-gray px-[41px] text-nowrap text-white">ម៉ោង</th>
                        <th class="border border-gray px-[42px] text-nowrap text-white">អ្នកគិតប្រាក់</th>
                    </tr>
                </thead>
                <tbody class="border border-gray">
                    {{#if data.length}} {{#each data}}
                    <tr>
                        <td class="border border-gray px-2 -my-[8px] text-center">{{ countNumber @index }}</td>
                        <td class="border border-gray px-2 -my-[8px] text-center">{{ receipt_number }}</td>
                        <td class="border border-gray px-2 -my-[8px] text-right">{{ formatCurency total_price }}</td>
                        <td class="border border-gray px-2 -my-[8px] text-center">{{ formatDate ordered_at }}</td>
                        <td class="border border-gray px-2 -my-[8px] text-left">{{ formatTime ordered_at }}</td>
                        <td class="border border-gray px-2 -my-[8px] text-left">{{ cashier.name }}</td>
                    </tr>
                    {{/each}} {{else}}
                    <tr>
                        <td colspan="6" class="border border-gray px-2 text-center">គ្មានទិន័យ</td>
                    </tr>
                    {{/if}}
                </tbody>
                <tfoot class="break-inside-auto">
                    <tr>
                        <td class="border border-gray px-2"></td>
                        <td class="border border-gray px-2 font-semibold">តម្លៃសរុប</td>
                        <td class="border border-gray px-2 text-right font-semibold">{{ formatCurency SumTotalPrice }}</td>
                        <td class="border border-gray px-2"></td>
                        <td class="border border-gray px-2"></td>
                        <td class="border border-gray px-2"></td>
                    </tr>
                </tfoot>

            </table>
        </div>
    </main>
</body>

</html>